# Misc
*.DS_STORE
*~
*.pyc
build/
build-xcode/
test_package/build/
*.VC.VC.opendb

# IDE Files
.*.swp
*.swo
.lvimrc
.idea
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen files
Doxygen/doxy_warn.log
Doxygen/html/
Doxygen/xmsextractor.tag
